@charset "UTF-8";
.container {
	display : flex;
	height : 100%;
	align-items : center;
	justify-content : center;
	flex-direction : column;
}
/*div {
	width:100%;
}*/
h1 {
	text-align : center;
}

.menu li a:hover {
  background-color: red;
}